<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="Name" name="name">
      <label for="floatingInput">Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.brand}}" placeholder="Brand" name="brand">
      <label for="floatingInput">Brand</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.price_buy}}" placeholder="price_buy" name="price_buy">
      <label for="floatingInput">Price_Buy</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.price_intern}}" placeholder="price_intern" name="price_intern">
      <label for="floatingInput">Price_Intern</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.price_extern}}" placeholder="price_extern" name="price_extern">
      <label for="floatingInput">Price_Extern</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.box_size}}" placeholder="box_size" name="box_size">
      <label for="floatingInput">Box_Size</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.stock}}" placeholder="stock" name="stock">
      <label for="floatingInput">Stock</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>