<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="Name" name="name">
      <label for="floatingInput">Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.brand}}" placeholder="Marke" name="brand">
      <label for="floatingInput">Marke</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.price_buy}}" placeholder="0" name="price_buy">
      <label for="floatingInput">Einkaufspreis</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.price_intern}}" placeholder="0" name="price_intern">
      <label for="floatingInput">Verkaufspreis intern</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.price_extern}}" placeholder="0" name="price_extern">
      <label for="floatingInput">Verkaufspreis extern</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.box_size}}" placeholder="0" name="box_size">
      <label for="floatingInput">Flaschen pro Kiste</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.stock}}" placeholder="0" name="stock">
      <label for="floatingInput">Auf Vorrat</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Bestätigen</button>
  </div>