<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/admin/">Admin</a></li>
    <li class="breadcrumb-item"><a href="/admin/drinkmanagement/">Drinkmanagement</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Drink</li>
  </ol>
</nav>

<div class="view-user p-5">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.first_name}} {{this.last_name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Price_Buy</th>
            <th scope="col">Price_Intern</th>
            <th scope="col">Price_Extern</th>
            <th scope="col">Box_Size</th>
            <th scope="col">Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.name}}</th>
            <td>{{this.brand}}</td>
            <td>{{this.price_buy}}</td>
            <td>{{this.price_intern}}</td>
            <td>{{this.price_extern}}</td>
            <td>{{this.box_size}}</td>
            <td>{{this.stock}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/each}}
</div>